In [1]:
import pandas as pd
import numpy as np

In [109]:
data=pd.read_csv("k_circle_sales.csv")
# another approach
# data=pd.read_csv("C:\Users\User\OneDrive\Desktop\Simplilearn _assignment\k_circle_sales.csv")

In [7]:
# import os
# os.getcwd()

'/home/labsuser'

In [3]:
data.shape

(8523, 13)

In [4]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8,OUT049,1999,Medium,Tier 2,Supermarket Type1,3735.1380,11.5
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.3,OUT018,2009,Medium,Tier 2,Supermarket Type2,443.4228,14.3
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6,OUT049,1999,Medium,Tier 2,Supermarket Type1,2097.2700,14.5
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.1,OUT010,1998,NaN,NaN,Grocery Store,732.3800,13.6
4,NCD19,8.930,Low Fat,0.000000,Household,53.9,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,14.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834,14.1
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.2,OUT045,2002,NaN,NaN,Supermarket Type1,549.2850,14.2
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1,OUT035,2004,Small,Tier1,Supermarket Type1,1193.1136,9.5
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1,OUT018,2009,Medium,Tier 2,Supermarket Type2,1845.5976,14.2
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.5,OUT046,1997,Small,Tier1,Supermarket Type1,765.6700,14.6

In [8]:
data.head(3)# display first 5 rows

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8,OUT049,1999,Medium,Tier 2,Supermarket Type1,3735.1380,11.5
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.3,OUT018,2009,Medium,Tier 2,Supermarket Type2,443.4228,14.3
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6,OUT049,1999,Medium,Tier 2,Supermarket Type1,2097.2700,14.5

In [6]:
data.tail()# display last 5 rows

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834,14.1
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.2,OUT045,2002,NaN,NaN,Supermarket Type1,549.2850,14.2
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1,OUT035,2004,Small,Tier1,Supermarket Type1,1193.1136,9.5
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1,OUT018,2009,Medium,Tier 2,Supermarket Type2,1845.5976,14.2
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.5,OUT046,1997,Small,Tier1,Supermarket Type1,765.6700,14.6

In [9]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
Profit                       float64
dtype: object

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7775 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       6473 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
 12  Profit                     8523 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 865.7+ KB

In [11]:
data.columns # columns present in the data

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales', 'Profit'],
      dtype='object')

In [12]:
data.index

RangeIndex(start=0, stop=8523, step=1)

In [14]:
data.describe(include="all")

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Profit
count,7775.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,11.688100,0.066132,140.998838,1997.831867,2181.288914,13.414514
std,5.862684,0.051598,62.258099,8.371760,1706.499616,1.701840
min,0.000000,0.000000,31.300000,1985.000000,33.290000,0.100000
25%,7.720000,0.026989,93.800000,1987.000000,834.247400,13.150000
50%,11.800000,0.053931,142.700000,1999.000000,1794.331000,13.900000
75%,16.500000,0.094585,185.650000,2004.000000,3101.296400,14.300000
max,100.000000,0.328391,266.900000,2009.000000,13086.964800,24.000000

In [15]:
data.describe(include="all")

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
count,8523,7775.000000,8523,8523.000000,8523,8523.000000,8523,8523.000000,6113,6473,8523,8523.000000,8523.000000
unique,1559,NaN,5,NaN,16,NaN,10,NaN,3,8,4,NaN,NaN
top,FDG33,NaN,Low Fat,NaN,Fruits and Vegetables,NaN,OUT027,NaN,Medium,Tier 2,Supermarket Type1,NaN,NaN
freq,10,NaN,5089,NaN,1232,NaN,935,NaN,2793,2793,5577,NaN,NaN
mean,NaN,11.688100,NaN,0.066132,NaN,140.998838,NaN,1997.831867,NaN,NaN,NaN,2181.288914,13.414514
std,NaN,5.862684,NaN,0.051598,NaN,62.258099,NaN,8.371760,NaN,NaN,NaN,1706.499616,1.701840
min,NaN,0.000000,NaN,0.000000,NaN,31.300000,NaN,1985.000000,NaN,NaN,NaN,33.290000,0.100000
25%,NaN,7.720000,NaN,0.026989,NaN,93.800000,NaN,1987.000000,NaN,NaN,NaN,834.247400,13.150000
50%,NaN,11.800000,NaN,0.053931,NaN,142.700000,NaN,1999.000000,NaN,NaN,NaN,1794.331000,13.900000
75%,NaN,16.500000,NaN,0.094585,NaN,185.650000,NaN,2004.000000,NaN,NaN,NaN,3101.296400,14.300000
max,NaN,100.000000,NaN,0.328391,NaN,266.900000,NaN,2009.000000,NaN,NaN,NaN,13086.964800,24.000000

In [18]:
data.isnull().any()# checking the null values

Item_Identifier              False
Item_Weight                   True
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                   True
Outlet_Location_Type          True
Outlet_Type                  False
Item_Outlet_Sales            False
Profit                       False
dtype: bool

In [20]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                   748
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type         2050
Outlet_Type                     0
Item_Outlet_Sales               0
Profit                          0
dtype: int64

In [21]:
data1=data

In [23]:
d=data1.dropna()

In [24]:
d.shape

(5365, 13)

In [32]:
data.fillna(value=0,inplace=True)

In [33]:
data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
Profit                       0
dtype: int64

In [34]:
data["Item_Fat_Content"].nunique() # find no.of various object in the column

5

In [36]:
data["Item_Fat_Content"].unique() # what are the variou sobject

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [37]:
data["Item_Fat_Content"].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [39]:
data["Item_Fat_Content"].value_counts().to_frame()

         Item_Fat_Content
Low Fat              5089
Regular              2889
LF                    316
reg                   117
low fat               112

In [45]:
data2=data.drop("Item_Identifier",axis=1)  # axis= 0 row # axis=1   column

In [42]:
data2.columns

Index(['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type',
       'Item_MRP', 'Outlet_Identifier', 'Outlet_Establishment_Year',
       'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type',
       'Item_Outlet_Sales', 'Profit'],
      dtype='object')

In [49]:
data2=data.drop(["Item_Weight","Outlet_Establishment_Year"],axis=1)

In [47]:
data2.columns

Index(['Item_Identifier', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type',
       'Item_MRP', 'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales', 'Profit'],
      dtype='object')

In [50]:
data2.shape

(8523, 11)

In [51]:
data2=data2.drop([15,30])

In [52]:
data2.shape

(8521, 11)

In [53]:
# Slicing/indexing

In [54]:
data["Item_Fat_Content"]# accessin a one column

0       Low Fat
1       Regular
2       Low Fat
3       Regular
4       Low Fat
         ...
8518    Low Fat
8519    Regular
8520    Low Fat
8521    Regular
8522    Low Fat
Name: Item_Fat_Content, Length: 8523, dtype: object

In [55]:
data[["Item_Fat_Content",'Item_Outlet_Sales', 'Profit']] # multiple columns data to passed inside the lsit

     Item_Fat_Content  Item_Outlet_Sales  Profit
0             Low Fat          3735.1380    11.5
1             Regular           443.4228    14.3
2             Low Fat          2097.2700    14.5
3             Regular           732.3800    13.6
4             Low Fat           994.7052    14.1
...               ...                ...     ...
8518          Low Fat          2778.3834    14.1
8519          Regular           549.2850    14.2
8520          Low Fat          1193.1136     9.5
8521          Regular          1845.5976    14.2
8522          Low Fat           765.6700    14.6

[8523 rows x 3 columns]

In [57]:
# access first 10 rows using loc
data.loc[0:9,:]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8,OUT049,1999,Medium,Tier 2,Supermarket Type1,3735.1380,11.5
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.3,OUT018,2009,Medium,Tier 2,Supermarket Type2,443.4228,14.3
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6,OUT049,1999,Medium,Tier 2,Supermarket Type1,2097.2700,14.5
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.1,OUT010,1998,0,0,Grocery Store,732.3800,13.6
4,NCD19,8.930,Low Fat,0.000000,Household,53.9,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,14.1
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4,OUT018,2009,Medium,Tier 2,Supermarket Type2,556.6088,9.5
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.7,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528,8.8
7,FDP10,0.000,Low Fat,0.127470,Snack Foods,107.8,OUT027,1985,Medium,Tier 2,Supermarket Type3,4022.7636,13.3
8,FDH17,16.200,Regular,0.016687,Frozen Foods,97.0,OUT045,2002,0,0,Supermarket Type1,1076.5986,13.0
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8,OUT017,2007,0,--,Supermarket Type1,4710.5350,13.6

In [58]:
#using loc display 10 rows from item weight to item MRP
data.loc[0:9,"Item_Weight":"Item_MRP"]

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP
0,9.300,Low Fat,0.016047,Dairy,249.8
1,5.920,Regular,0.019278,Soft Drinks,48.3
2,17.500,Low Fat,0.016760,Meat,141.6
3,19.200,Regular,0.000000,Fruits and Vegetables,182.1
4,8.930,Low Fat,0.000000,Household,53.9
5,10.395,Regular,0.000000,Baking Goods,51.4
6,13.650,Regular,0.012741,Snack Foods,57.7
7,0.000,Low Fat,0.127470,Snack Foods,107.8
8,16.200,Regular,0.016687,Frozen Foods,97.0
9,19.200,Regular,0.094450,Frozen Foods,187.8

In [59]:
data.loc[0:9,["Item_Weight","Item_MRP","Profit"]]

   Item_Weight  Item_MRP  Profit
0        9.300     249.8    11.5
1        5.920      48.3    14.3
2       17.500     141.6    14.5
3       19.200     182.1    13.6
4        8.930      53.9    14.1
5       10.395      51.4     9.5
6       13.650      57.7     8.8
7        0.000     107.8    13.3
8       16.200      97.0    13.0
9       19.200     187.8    13.6

In [60]:
#using iloc display 20 rows from item weight to item MRP
data.iloc[:20,1:6]

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP
0,9.300,Low Fat,0.016047,Dairy,249.8
1,5.920,Regular,0.019278,Soft Drinks,48.3
2,17.500,Low Fat,0.016760,Meat,141.6
3,19.200,Regular,0.000000,Fruits and Vegetables,182.1
4,8.930,Low Fat,0.000000,Household,53.9
5,10.395,Regular,0.000000,Baking Goods,51.4
6,13.650,Regular,0.012741,Snack Foods,57.7
7,0.000,Low Fat,0.127470,Snack Foods,107.8
8,16.200,Regular,0.016687,Frozen Foods,97.0
9,19.200,Regular,0.094450,Frozen Foods,187.8
10,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5
11,18.500,Regular,0.045464,Dairy,144.1
12,15.100,Regular,0.100014,Fruits and Vegetables,145.5
13,17.600,Regular,0.047257,Snack Foods,119.7
14,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4
15,9.000,Regular,0.069089,Breakfast,56.4
16,11.800,Low Fat,0.008596,Health and Hygiene,115.3
17,9.000,Regular,0.069196,Breakfast,54.4
18,0.000,Low Fat,0.034238,Hard Drinks,113.3
19,13.350,Low Fat,0.102492,Dairy,230.5

In [61]:
data.iloc[:20,[1,5,12]]

    Item_Weight  Item_MRP  Profit
0         9.300     249.8    11.5
1         5.920      48.3    14.3
2        17.500     141.6    14.5
3        19.200     182.1    13.6
4         8.930      53.9    14.1
5        10.395      51.4     9.5
6        13.650      57.7     8.8
7         0.000     107.8    13.3
8        16.200      97.0    13.0
9        19.200     187.8    13.6
10       11.800      45.5    14.3
11       18.500     144.1    14.3
12       15.100     145.5    14.6
13       17.600     119.7    14.1
14       16.350     196.4    13.5
15        9.000      56.4    13.0
16       11.800     115.3     8.6
17        9.000      54.4    14.8
18        0.000     113.3    14.4
19       13.350     230.5    14.0

In [62]:
#1,5,8 rows and  item weight,i tem mrp,profit using iloc
data.iloc[[1,5,8],[1,5,12]]

   Item_Weight  Item_MRP  Profit
1        5.920      48.3    14.3
5       10.395      51.4     9.5
8       16.200      97.0    13.0

In [67]:
# sorting
data.sort_values(by=["Item_Weight"],ascending=False).head(5)  # decending

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
229,FDX25,100.00,Low Fat,0.101562,Canned,181.9,OUT027,1985,Medium,Tier 2,Supermarket Type3,3101.2964,13.3
4468,FDC02,21.35,Low Fat,0.068822,Canned,258.3,OUT046,1997,Small,Tier1,Supermarket Type1,7028.8506,13.8
2368,FDC02,21.35,Low Fat,0.068809,Canned,258.5,OUT035,2004,Small,Tier1,Supermarket Type1,5206.5560,12.7
2802,FDC02,21.35,Low Fat,0.068765,Canned,260.4,OUT013,1987,High,Tier 3,Supermarket Type1,3644.5892,14.0
43,FDC02,21.35,Low Fat,0.069103,Canned,259.9,OUT018,2009,Medium,Tier 2,Supermarket Type2,6768.5228,12.4

In [69]:
data.sort_values(by=["Item_Weight","Item_MRP"],ascending=[False,False]).head(10)  # decending

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
229,FDX25,100.00,Low Fat,0.101562,Canned,181.9,OUT027,1985,Medium,Tier 2,Supermarket Type3,3101.2964,13.3
2802,FDC02,21.35,Low Fat,0.068765,Canned,260.4,OUT013,1987,High,Tier 3,Supermarket Type1,3644.5892,14.0
43,FDC02,21.35,Low Fat,0.069103,Canned,259.9,OUT018,2009,Medium,Tier 2,Supermarket Type2,6768.5228,12.4
2368,FDC02,21.35,Low Fat,0.068809,Canned,258.5,OUT035,2004,Small,Tier1,Supermarket Type1,5206.5560,12.7
483,FDC02,21.35,Low Fat,0.115195,Canned,258.3,OUT010,1998,0,--,Grocery Store,520.6556,14.1
4468,FDC02,21.35,Low Fat,0.068822,Canned,258.3,OUT046,1997,Small,Tier1,Supermarket Type1,7028.8506,13.8
4257,FDR07,21.35,Low Fat,0.130127,Fruits and Vegetables,96.2,OUT010,1998,0,0,Grocery Store,190.4188,14.7
6389,FDR07,21.35,Low Fat,0.078061,Fruits and Vegetables,96.0,OUT018,2009,Medium,Tier 2,Supermarket Type2,380.8376,14.0
7158,NCX17,21.25,Low Fat,0.114066,Health and Hygiene,233.0,OUT018,2009,Medium,Tier 2,Supermarket Type2,5592.7200,10.5
7042,NCX17,21.25,Low Fat,0.113834,Health and Hygiene,232.8,OUT045,2002,0,0,Supermarket Type1,1398.1800,2.9

In [72]:
data.sort_values(by=["Item_Weight","Item_MRP","Profit"],ascending=[False,True,False]).head(5)  # decending

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
229,FDX25,100.00,Low Fat,0.101562,Canned,181.9,OUT027,1985,Medium,Tier 2,Supermarket Type3,3101.2964,13.3
6389,FDR07,21.35,Low Fat,0.078061,Fruits and Vegetables,96.0,OUT018,2009,Medium,Tier 2,Supermarket Type2,380.8376,14.0
4257,FDR07,21.35,Low Fat,0.130127,Fruits and Vegetables,96.2,OUT010,1998,0,0,Grocery Store,190.4188,14.7
483,FDC02,21.35,Low Fat,0.115195,Canned,258.3,OUT010,1998,0,--,Grocery Store,520.6556,14.1
4468,FDC02,21.35,Low Fat,0.068822,Canned,258.3,OUT046,1997,Small,Tier1,Supermarket Type1,7028.8506,13.8

In [73]:
data.sort_values(by=["Item_Weight","Item_MRP"],ascending=[True,True]).head(10)  # decending

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
153,DRK12,0.0,Low Fat,0.041683,Soft Drinks,31.3,OUT027,1985,Medium,Tier 2,Supermarket Type3,898.8300,11.7
2242,FDG40,0.0,Low Fat,0.039631,Frozen Foods,32.0,OUT027,1985,Medium,Tier 2,Supermarket Type3,984.7182,14.0
2518,FDU21,0.0,Regular,0.076349,Snack Foods,32.9,OUT027,1985,Medium,Tier 2,Supermarket Type3,713.0718,14.1
952,FDX59,0.0,Low Fat,0.051411,Breads,33.1,OUT027,1985,Medium,Tier 2,Supermarket Type3,984.7182,14.3
7943,NCE31,0.0,Low Fat,0.183948,Household,33.6,OUT027,1985,Medium,Tier 2,Supermarket Type3,934.7832,13.8
867,FDJ45,0.0,Low Fat,0.073055,Seafood,33.7,OUT027,1985,Medium,Tier 2,Supermarket Type3,1280.9992,11.6
6986,FDJ45,0.0,Low Fat,0.128533,Seafood,34.2,OUT019,1985,Small,Tier1,Grocery Store,173.1080,14.6
3053,NCL41,0.0,Low Fat,0.073077,Health and Hygiene,34.3,OUT019,1985,Small,Tier1,Grocery Store,34.6216,12.4
7612,FDS40,0.0,Low Fat,0.024546,Frozen Foods,34.6,OUT019,1985,Small,Tier1,Grocery Store,36.6190,14.5
6291,NCO06,0.0,Low Fat,0.107507,Household,34.9,OUT027,1985,Medium,Tier 2,Supermarket Type3,441.4254,13.2

In [74]:
# filtering
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8,OUT049,1999,Medium,Tier 2,Supermarket Type1,3735.1380,11.5
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.3,OUT018,2009,Medium,Tier 2,Supermarket Type2,443.4228,14.3
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6,OUT049,1999,Medium,Tier 2,Supermarket Type1,2097.2700,14.5
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.1,OUT010,1998,0,0,Grocery Store,732.3800,13.6
4,NCD19,8.93,Low Fat,0.000000,Household,53.9,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,14.1

In [76]:
#find the item type,mrp when item weight is <10
df2=data.loc[data["Item_Weight"]<10,["Item_Type","Item_Fat_Content","Item_MRP"]]
df2

                  Item_Type Item_Fat_Content  Item_MRP
0                     Dairy          Low Fat     249.8
1               Soft Drinks          Regular      48.3
4                 Household          Low Fat      53.9
7               Snack Foods          Low Fat     107.8
15                Breakfast          Regular      56.4
...                     ...              ...       ...
8507           Frozen Foods          Regular     101.8
8509  Fruits and Vegetables          Low Fat     214.0
8518            Snack Foods          Low Fat     214.5
8519           Baking Goods          Regular     108.2
8521            Snack Foods          Regular     103.1

[3839 rows x 3 columns]

In [95]:
# find MRP for Low Fat content
df2 = data.loc[data['Item_Fat_Content']==('LF' and 'Low Fat'), ['Item_Type', 'Item_Fat_Content', 'Item_MRP']].head(100)
df2

                 Item_Type Item_Fat_Content  Item_MRP
0                    Dairy          Low Fat     249.8
2                     Meat          Low Fat     141.6
4                Household          Low Fat      53.9
7              Snack Foods          Low Fat     107.8
10   Fruits and Vegetables          Low Fat      45.5
..                     ...              ...       ...
154  Fruits and Vegetables          Low Fat     226.2
155              Household          Low Fat     223.6
157              Breakfast          Low Fat      99.8
158            Soft Drinks          Low Fat     140.9
161  Fruits and Vegetables          Low Fat      97.0

[100 rows x 3 columns]

In [96]:
#Groupby

dat=pd.DataFrame({"Gender":["m","f","m","m","f"],"Age":[25,56,78,29,60],"height":[5.2,7,5.9,6.8,6]})
dat

  Gender  Age  height
0      m   25     5.2
1      f   56     7.0
2      m   78     5.9
3      m   29     6.8
4      f   60     6.0

In [98]:
dat.groupby("Gender").mean()

        Age    height
Gender
f        58  6.500000
m        44  5.966667

In [110]:
data1=data.dropna()

In [111]:
data1.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
Profit                       0
dtype: int64

In [112]:
data1.shape

(5365, 13)

In [125]:
data1.groupby("Outlet_Location_Type")["Item_Outlet_Sales"].sum()

Outlet_Location_Type
Tier 2    5.741296e+06
Tier 3    2.142664e+06
Tier1     4.476998e+06
Name: Item_Outlet_Sales, dtype: float64

In [119]:
outlet_obj=data1.groupby("Outlet_Location_Type")

In [120]:
outlet_obj.get_group("Tier1")

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
11,FDA03,18.50,Regular,0.045464,Dairy,144.1,OUT046,1997,Small,Tier1,Supermarket Type1,2187.1530,14.3
13,FDS46,17.60,Regular,0.047257,Snack Foods,119.7,OUT046,1997,Small,Tier1,Supermarket Type1,2145.2076,14.1
15,FDP49,9.00,Regular,0.069089,Breakfast,56.4,OUT046,1997,Small,Tier1,Supermarket Type1,1547.3192,13.0
19,FDU02,13.35,Low Fat,0.102492,Dairy,230.5,OUT035,2004,Small,Tier1,Supermarket Type1,2748.4224,14.0
22,NCB30,14.60,Low Fat,0.025698,Household,196.5,OUT035,2004,Small,Tier1,Supermarket Type1,1587.2672,14.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8510,FDN58,13.80,Regular,0.056862,Snack Foods,231.6,OUT035,2004,Small,Tier1,Supermarket Type1,7182.6504,11.8
8513,FDH31,12.00,Regular,0.020407,Meat,99.9,OUT035,2004,Small,Tier1,Supermarket Type1,595.2252,13.5
8517,FDF53,20.75,reg,0.083607,Frozen Foods,178.8,OUT046,1997,Small,Tier1,Supermarket Type1,3608.6360,13.2
8520,NCJ29,10.60,Low Fat,0.035186,Health and Hygiene,85.1,OUT035,2004,Small,Tier1,Supermarket Type1,1193.1136,9.5
8522,DRG01,14.80,Low Fat,0.044878,Soft Drinks,75.5,OUT046,1997,Small,Tier1,Supermarket Type1,765.6700,14.6

In [128]:
#find the average total outlet sale with item type and outlet size
sale=data1.groupby(["Item_Type","Outlet_Size"])["Item_Outlet_Sales"].mean()
sale

Item_Type              Outlet_Size
Baking Goods           High           2050.901134
                       Medium         2153.144743
                       Small          1915.790783
Breads                 High           2080.731528
                       Medium         2522.626764
                       Small          2379.981362
Breakfast              High           2104.286508
                       Medium         2439.969744
                       Small          1840.789044
Canned                 High           2211.265203
                       Medium         2296.065843
                       Small          2210.013439
Dairy                  High           2453.181713
                       Medium         2412.833451
                       Small          2131.795386
Frozen Foods           High           2214.096189
                       Medium         2412.450166
                       Small          2063.397055
Fruits and Vegetables  High           2405.118103
                       Medium         2620.714241
                       Small          2134.023990
Hard Drinks            High           2363.590000
                       Medium         2358.088964
                       Small          2154.438009
Health and Hygiene     High           1953.042439
                       Medium         2381.023572
                       Small          2128.898251
Household              High           2408.217992
                       Medium         2681.381252
                       Small          2128.174453
Meat                   High           2321.953141
                       Medium         2559.646270
                       Small          2014.537948
Others                 High           2202.383175
                       Medium         2291.517150
                       Small          1815.414667
Seafood                High           1629.345760
                       Medium         2453.930738
                       Small          2963.044988
Snack Foods            High           2473.968987
                       Medium         2630.695799
                       Small          2192.046856
Soft Drinks            High           2351.727890
                       Medium         2332.715038
                       Small          1793.592567
Starchy Foods          High           2302.791947
                       Medium         2463.568386
                       Small          2787.210006
Name: Item_Outlet_Sales, dtype: float64

In [129]:
sale.reset_index()

                Item_Type Outlet_Size  Item_Outlet_Sales
0            Baking Goods        High        2050.901134
1            Baking Goods      Medium        2153.144743
2            Baking Goods       Small        1915.790783
3                  Breads        High        2080.731528
4                  Breads      Medium        2522.626764
5                  Breads       Small        2379.981362
6               Breakfast        High        2104.286508
7               Breakfast      Medium        2439.969744
8               Breakfast       Small        1840.789044
9                  Canned        High        2211.265203
10                 Canned      Medium        2296.065843
11                 Canned       Small        2210.013439
12                  Dairy        High        2453.181713
13                  Dairy      Medium        2412.833451
14                  Dairy       Small        2131.795386
15           Frozen Foods        High        2214.096189
16           Frozen Foods      Medium        2412.450166
17           Frozen Foods       Small        2063.397055
18  Fruits and Vegetables        High        2405.118103
19  Fruits and Vegetables      Medium        2620.714241
20  Fruits and Vegetables       Small        2134.023990
21            Hard Drinks        High        2363.590000
22            Hard Drinks      Medium        2358.088964
23            Hard Drinks       Small        2154.438009
24     Health and Hygiene        High        1953.042439
25     Health and Hygiene      Medium        2381.023572
26     Health and Hygiene       Small        2128.898251
27              Household        High        2408.217992
28              Household      Medium        2681.381252
29              Household       Small        2128.174453
30                   Meat        High        2321.953141
31                   Meat      Medium        2559.646270
32                   Meat       Small        2014.537948
33                 Others        High        2202.383175
34                 Others      Medium        2291.517150
35                 Others       Small        1815.414667
36                Seafood        High        1629.345760
37                Seafood      Medium        2453.930738
38                Seafood       Small        2963.044988
39            Snack Foods        High        2473.968987
40            Snack Foods      Medium        2630.695799
41            Snack Foods       Small        2192.046856
42            Soft Drinks        High        2351.727890
43            Soft Drinks      Medium        2332.715038
44            Soft Drinks       Small        1793.592567
45          Starchy Foods        High        2302.791947
46          Starchy Foods      Medium        2463.568386
47          Starchy Foods       Small        2787.210006